<div class="author">
    <h1 class="author__heading">This is the author's heading.</h1>
    <p class="authot__description">Writer/Designer/Engineer.</p>
</div>

<pciture>
    <img src="Images/landscape.jpeg" alt="Picture uploaded by user"  loading="lazy" class="user-image">
</pciture>

<section class="articles">
    <h2 class="articles__heading">Latest Posts</h2>

    <ul class="article-ul">
        <% data.forEach(post => { %>
         
            <li>
                <a href="/post/<%= post._id %>">
                    <span><%= post.title %></span>
                    <span class="article-list__date"><%= post.createdAt.toDateString()%> <br> Updated: <%= post.updatedAt.toDateString()%></span>
                </a>
            </li>
        <% }) %>
    </ul>

    <% if (nextPage !== null) { %>
        <a href="/?page=<%= nextPage %>" class="pagination">&lt; View older posts</a>
    <% } %>


</section>